<div class="music-list">
  <% @albums.each do |album| %>
    <div class="photo">
      <%= link_to image_tag(album.cover_image, :class => "responsive-img"), artist_album_url(album.artist, album) %>
      <div class="title">
        <%= album.title %>
      </div>
    </div>
  <% end %>
</div>